.vscode

# Ignore the installed node_modules
node_modules

# Ignore the artifacts directory
dist

# Ignore keys
*.crt
*.cert
*.key

# Ignore secrets
*.secrets

# Ignore generated templ files

*_templ.txt

# Ignore generated minified styles
*.min.css

# Ignore terraform dependencies
.terraform/

# Ignore tmp files
tmp/
